/**
 * Site header
 */
.site-header {
	
   
    min-height: 56px;
	background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(83%, rgba(5,193,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FF0000',GradientType=1 ); /* ie6-9 */
	font-family: Yekan;


    // Positioning context for the mobile navigation icon
    position: relative;
}

@font-face {
    font-family: Yekan;
    src: url(/Yekan.ttf);
}

$base-font-family: Helvetica Neue,irsans,Yekan, Helvetica, sans-serif;
h1 {
    $base-font-family:Yekan;
	font-family: Yekan;
}

.site-title {
	font-family: Yekan;
    font-size: 19px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: right;
	margin-left: 10px;
	$base-font-family:Yekan;
    &,
    &:visited {
        color: red;
    }
}

.site-nav {
    float: right;
	font-size: 18px;
    line-height: 56px;
	$base-font-family:Yekan;
	font-family: Yekan;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
		$base-font-family:Yekan;
		font-family: Yekan;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 10px;
			margin-left: 10px;
			$base-font-family:Yekan;
			font-family: Yekan;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
		$base-font-family:Yekan;
		font-family: Yekan;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
			$base-font-family:Yekan;
			font-family: Yekan;
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
			border-top: 5px solid $grey-color-dark;
			border-bottom: 5px solid $grey-color-dark;
			border-left: 5px solid $grey-color-dark;
			border-right: 5px solid $grey-color-dark;
			$base-font-family:Yekan;
			font-family: Yekan;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
	color: white;
	max-height: 100px;
	color: white;
    padding: $spacing-unit 0;
	background: -moz-linear-gradient(45deg, rgba(5,193,255,1) 0%, rgba(255,0,0,1) 83%, rgba(0,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(5,193,255,1)), color-stop(83%, rgba(255,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(5,193,255,1) 0%, rgba(255,0,0,1) 83%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(5,193,255,1) 0%, rgba(255,0,0,1) 83%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(5,193,255,1) 0%, rgba(255,0,0,1) 83%, rgba(0,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(5,193,255,1) 0%, rgba(255,0,0,1) 83%, rgba(0,0,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#05C1FF',GradientType=1 ); /* ie6-9 */
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
	
}

.footer-col-wrapper {
    font-size: 15px;
    color: white;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-link-color {
    color: white;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
	
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display:block;
    font-size: 24px;
}

.post-image {
    display:block;
    margin-right:50px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/Mostafa.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
	
.enlan {
	direction: ltr;
	float: left;
}
	h1 {
        
        
    $base-font-family:Yekan;
        
    }
.post-content {
    margin-bottom: $spacing-unit;

	h1 {
        
        
    $base-font-family:Yekan;
        
    }
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
